$db: #2f2fa1;
$dark-blue: #2f2fa1;
$dark-blue-hex: #2f2fa1;
$dark-blue-rgb: rgb(47, 47, 161);
$dark-blue-hsl: hsl(240, 55%, 41%);
$gr: #29ad55;
$green: #29ad55;
$green-hex: #29ad55;
$green-rgb: rgb(41, 173, 85);
$green-hsl: hsl(140, 62%, 42%);
$groton-red: #a6093d;
$groton-red-hex: #a6093d;
$groton-red-rgb: rgb(166, 9, 61);
$groton-red-hsl: hsl(340, 90%, 34%);
$lb: #a1c3f2;
$light-blue: #a1c3f2;
$light-blue-hex: #a1c3f2;
$light-blue-rgb: rgb(161, 195, 242);
$light-blue-hsl: hsl(215, 76%, 79%);
$no-color: #808080;
$no-color-hex: #808080;
$no-color-rgb: rgb(128, 128, 128);
$no-color-hsl: hsl(0, 0%, 50%);
$or: #fa8b2f;
$orange: #fa8b2f;
$orange-hex: #fa8b2f;
$orange-rgb: rgb(250, 139, 47);
$orange-hsl: hsl(27, 95%, 58%);
$pr: #9353ed;
$purple: #9353ed;
$purple-hex: #9353ed;
$purple-rgb: rgb(147, 83, 237);
$purple-hsl: hsl(265, 81%, 63%);
$rd: #ec111a;
$red: #ec111a;
$red-hex: #ec111a;
$red-rgb: rgb(236, 17, 26);
$red-hsl: hsl(358, 87%, 50%);
$yl: #ffd42f;
$yellow: #ffd42f;
$yellow-hex: #ffd42f;
$yellow-rgb: rgb(255, 212, 47);
$yellow-hsl: hsl(48, 100%, 59%);
$text-on-db: #ffffff;
$text-on-dark-blue: #ffffff;
$text-on-dark-blue-hex: #ffffff;
$text-on-dark-blue-rgb: rgb(255, 255, 255);
$text-on-dark-blue-hsl: hsl(0, 0%, 100%);
$text-on-gr: #ffffff;
$text-on-green: #ffffff;
$text-on-green-hex: #ffffff;
$text-on-green-rgb: rgb(255, 255, 255);
$text-on-green-hsl: hsl(0, 0%, 100%);
$text-on-groton-red: #ffffff;
$text-on-groton-red-hex: #ffffff;
$text-on-groton-red-rgb: rgb(255, 255, 255);
$text-on-groton-red-hsl: hsl(0, 0%, 100%);
$text-on-lb: #000000;
$text-on-light-blue: #000000;
$text-on-light-blue-hex: #000000;
$text-on-light-blue-rgb: rgb(0, 0, 0);
$text-on-light-blue-hsl: hsl(0, 0%, 0%);
$text-on-no-color: #000000;
$text-on-no-color-hex: #000000;
$text-on-no-color-rgb: rgb(0, 0, 0);
$text-on-no-color-hsl: hsl(0, 0%, 0%);
$text-on-or: #000000;
$text-on-orange: #000000;
$text-on-orange-hex: #000000;
$text-on-orange-rgb: rgb(0, 0, 0);
$text-on-orange-hsl: hsl(0, 0%, 0%);
$text-on-pr: #ffffff;
$text-on-purple: #ffffff;
$text-on-purple-hex: #ffffff;
$text-on-purple-rgb: rgb(255, 255, 255);
$text-on-purple-hsl: hsl(0, 0%, 100%);
$text-on-rd: #ffffff;
$text-on-red: #ffffff;
$text-on-red-hex: #ffffff;
$text-on-red-rgb: rgb(255, 255, 255);
$text-on-red-hsl: hsl(0, 0%, 100%);
$text-on-yl: #000000;
$text-on-yellow: #000000;
$text-on-yellow-hex: #000000;
$text-on-yellow-rgb: rgb(0, 0, 0);
$text-on-yellow-hsl: hsl(0, 0%, 0%);
$db-on-white: #3030a5;
$dark-blue-on-white: #3030a5;
$dark-blue-on-white-hex: #3030a5;
$dark-blue-on-white-rgb: rgb(48, 48, 165);
$dark-blue-on-white-hsl: hsl(240, 55%, 42%);
$gr-on-white: #208843;
$green-on-white: #208843;
$green-on-white-hex: #208843;
$green-on-white-rgb: rgb(32, 136, 67);
$green-on-white-hsl: hsl(140, 62%, 33%);
$groton-red-on-white: #ab093f;
$groton-red-on-white-hex: #ab093f;
$groton-red-on-white-rgb: rgb(171, 9, 63);
$groton-red-on-white-hsl: hsl(340, 90%, 35%);
$lb-on-white: #2473e1;
$light-blue-on-white: #2473e1;
$light-blue-on-white-hex: #2473e1;
$light-blue-on-white-rgb: rgb(36, 115, 225);
$light-blue-on-white-hsl: hsl(215, 76%, 51%);
$no-color-on-white: #767676;
$no-color-on-white-hex: #767676;
$no-color-on-white-rgb: rgb(118, 118, 118);
$no-color-on-white-hsl: hsl(0, 0%, 46%);
$or-on-white: #be5905;
$orange-on-white: #be5905;
$orange-on-white-hex: #be5905;
$orange-on-white-rgb: rgb(190, 89, 5);
$orange-on-white-hsl: hsl(27, 95%, 38%);
$pr-on-white: #904eed;
$purple-on-white: #904eed;
$purple-on-white-hex: #904eed;
$purple-on-white-rgb: rgb(144, 78, 237);
$purple-on-white-hsl: hsl(265, 82%, 62%);
$rd-on-white: #e71119;
$red-on-white: #e71119;
$red-on-white-hex: #e71119;
$red-on-white-rgb: rgb(231, 17, 25);
$red-on-white-hsl: hsl(358, 86%, 49%);
$yl-on-white: #907200;
$yellow-on-white: #907200;
$yellow-on-white-hex: #907200;
$yellow-on-white-rgb: rgb(144, 114, 0);
$yellow-on-white-hsl: hsl(48, 100%, 28%);
$db-on-black: #6868d3;
$dark-blue-on-black: #6868d3;
$dark-blue-on-black-hex: #6868d3;
$dark-blue-on-black-rgb: rgb(104, 104, 211);
$dark-blue-on-black-hsl: hsl(240, 55%, 62%);
$gr-on-black: #2ab157;
$green-on-black: #2ab157;
$green-on-black-hex: #2ab157;
$green-on-black-rgb: rgb(42, 177, 87);
$green-on-black-hsl: hsl(140, 62%, 43%);
$groton-red-on-black: #e50c54;
$groton-red-on-black-hex: #e50c54;
$groton-red-on-black-rgb: rgb(229, 12, 84);
$groton-red-on-black-hsl: hsl(340, 90%, 47%);
$lb-on-black: #a5c6f3;
$light-blue-on-black: #a5c6f3;
$light-blue-on-black-hex: #a5c6f3;
$light-blue-on-black-rgb: rgb(165, 198, 243);
$light-blue-on-black-hsl: hsl(215, 76%, 80%);
$no-color-on-black: #838383;
$no-color-on-black-hex: #838383;
$no-color-on-black-rgb: rgb(131, 131, 131);
$no-color-on-black-hsl: hsl(0, 0%, 51%);
$or-on-black: #fa8e34;
$orange-on-black: #fa8e34;
$orange-on-black-hex: #fa8e34;
$orange-on-black-rgb: rgb(250, 142, 52);
$orange-on-black-hsl: hsl(27, 95%, 59%);
$pr-on-black: #9658ed;
$purple-on-black: #9658ed;
$purple-on-black-hex: #9658ed;
$purple-on-black-rgb: rgb(150, 88, 237);
$purple-on-black-hsl: hsl(265, 81%, 64%);
$rd-on-black: #ee141d;
$red-on-black: #ee141d;
$red-on-black-hex: #ee141d;
$red-on-black-rgb: rgb(238, 20, 29);
$red-on-black-hsl: hsl(358, 87%, 51%);
$yl-on-black: #ffd534;
$yellow-on-black: #ffd534;
$yellow-on-black-hex: #ffd534;
$yellow-on-black-rgb: rgb(255, 213, 52);
$yellow-on-black-hsl: hsl(48, 100%, 60%);
