:root {
  --no-color: #808080;
  --no-color-r: 128;
  --no-color-g: 128;
  --no-color-b: 128;
  --no-color-h: 0;
  --no-color-s: 0%;
  --no-color-l: 50.19607843137255%;
  --groton-red: #a6093d;
  --groton-red-r: 166;
  --groton-red-g: 9;
  --groton-red-b: 61;
  --groton-red-h: 340.12738853503186;
  --groton-red-s: 89.71428571428571%;
  --groton-red-l: 34.31372549019608%;
  --RD: #ec111a;
  --red: #ec111a;
  --red-r: 236;
  --red-g: 17;
  --red-b: 26;
  --red-h: 357.5342465753425;
  --red-s: 86.56126482213439%;
  --red-l: 49.6078431372549%;
  --OR: #fa8b2f;
  --orange: #fa8b2f;
  --orange-r: 250;
  --orange-g: 139;
  --orange-b: 47;
  --orange-h: 27.192118226600982;
  --orange-s: 95.30516431924883%;
  --orange-l: 58.23529411764705%;
  --YL: #ffd42f;
  --yellow: #ffd42f;
  --yellow-r: 255;
  --yellow-g: 212;
  --yellow-b: 47;
  --yellow-h: 47.59615384615385;
  --yellow-s: 100%;
  --yellow-l: 59.21568627450981%;
  --GR: #29ad55;
  --green: #29ad55;
  --green-r: 41;
  --green-g: 173;
  --green-b: 85;
  --green-h: 139.99999999999997;
  --green-s: 61.68224299065421%;
  --green-l: 41.96078431372549%;
  --LB: #a1c3f2;
  --light-blue: #a1c3f2;
  --light-blue-r: 161;
  --light-blue-g: 195;
  --light-blue-b: 242;
  --light-blue-h: 214.8148148148148;
  --light-blue-s: 75.70093457943923%;
  --light-blue-l: 79.01960784313725%;
  --DB: #2f2fa1;
  --dark-blue: #2f2fa1;
  --dark-blue-r: 47;
  --dark-blue-g: 47;
  --dark-blue-b: 161;
  --dark-blue-h: 240;
  --dark-blue-s: 54.8076923076923%;
  --dark-blue-l: 40.78431372549019%;
  --PR: #9353ed;
  --purple: #9353ed;
  --purple-r: 147;
  --purple-g: 83;
  --purple-b: 237;
  --purple-h: 264.93506493506493;
  --purple-s: 81.05263157894737%;
  --purple-l: 62.745098039215684%;
  --text-on-no-color: #000000;
  --text-on-groton-red: #ffffff;
  --text-on-RD: #ffffff;
  --text-on-red: #ffffff;
  --text-on-OR: #000000;
  --text-on-orange: #000000;
  --text-on-YL: #000000;
  --text-on-yellow: #000000;
  --text-on-GR: #ffffff;
  --text-on-green: #ffffff;
  --text-on-LB: #000000;
  --text-on-light-blue: #000000;
  --text-on-DB: #ffffff;
  --text-on-dark-blue: #ffffff;
  --text-on-PR: #ffffff;
  --text-on-purple: #ffffff;
  --no-color-on-white: #767676;
  --groton-red-on-white: #ab093f;
  --RD-on-white: #e71119;
  --red-on-white: #e71119;
  --OR-on-white: #be5905;
  --orange-on-white: #be5905;
  --YL-on-white: #b58200;
  --yellow-on-white: #b58200;
  --GR-on-white: #208843;
  --green-on-white: #208843;
  --LB-on-white: #2473e1;
  --light-blue-on-white: #2473e1;
  --DB-on-white: #3030a5;
  --dark-blue-on-white: #3030a5;
  --PR-on-white: #904eed;
  --purple-on-white: #904eed;
  --no-color-on-black: #838383;
  --groton-red-on-black: #e50c54;
  --RD-on-black: #ee141d;
  --red-on-black: #ee141d;
  --OR-on-black: #fa8e34;
  --orange-on-black: #fa8e34;
  --YL-on-black: #ffd534;
  --yellow-on-black: #ffd534;
  --GR-on-black: #2ab157;
  --green-on-black: #2ab157;
  --LB-on-black: #a5c6f3;
  --light-blue-on-black: #a5c6f3;
  --DB-on-black: #6868d3;
  --dark-blue-on-black: #6868d3;
  --PR-on-black: #9658ed;
  --purple-on-black: #9658ed;
}
